{% for item in site.data.exprience %}
<div class="timeline">
    <div class="timeline-content">
        <div class="circle"><span class="homebox">
          <img src="{{ item.image }}" class="img">
         </span></div>
        <div class="content">
            <span class="year">Date : {{ item.date }}</span>
            <h3 class="title h4">Title : {{ item.title }}</h3>
            <p class="description">
                {{ item.desc }}
            </p>
            <p class="description">
                <strong>Company/Client :</strong> {{ item.company }}
            </p>
            <p class="description">
                <strong>Used :</strong> {{ item.tech }}
            </p>
        </div>
    </div>
</div>
{% endfor %}
